Repository pento/free-as-in-speech: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:pkg-json, npm run lint:css, npm run lint:js, npm run lint:md-js, npm run lint:md-docs

Don't install the Husky hooks on CI jobs.
  package-lock.json
  package.json
Due: none

Moving linting out of `npm run test`.
  .github/workflows/test.yml
  package.json
Due: none

The build step doesn't need to be in pretest.
  .github/workflows/test.yml
  package.json
Due: none

Add a linting pre-commit hook. (#36)
  .github/workflows/test.yml
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

Add support for paging through posts.
  source/services/wix/extractors/communities-blog-app/index.js
  test/integration/wix/fixtures/wix-basic.har
Due: npm run lint:js

Fix flipped post status
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Add paging for tags and categories.
  source/services/wix/extractors/communities-blog-app/index.js
  source/services/wix/extractors/communities-blog-app/test/index.js
  test/integration/wix/fixtures/wix-basic.har
Due: npm run lint:js

Add jest tests for paging.
  source/services/wix/extractors/communities-blog-app/index.js
  source/services/wix/extractors/communities-blog-app/test/index.js
Due: npm run lint:js

Delete some old code.
  source/services/wix/extractors/communities-blog-app/index.js
Due: npm run lint:js

Allow specifying a port
  bin/test-wxr.sh
Due: none

Update translation string files.
  languages/free-as-in-speech.pot
Due: none

Move the existing test to the same format as the new tests.
  source/services/wix/extractors/communities-blog-app/test/index.js
Due: npm run lint:js

Add paging support to the Community Blog extractor (#37)
  source/services/wix/extractors/communities-blog-app/index.js
  source/services/wix/extractors/communities-blog-app/test/index.js
  test/integration/wix/fixtures/wix-basic.har
Due: npm run lint:js

Add a wxrfile parameter to generate clean WXR files
  bin/export-from-har.js
  docs/contributors/command-line.md
Due: npm run lint:js, npm run lint:md-js, npm run lint:md-docs

lint-fix
  bin/export-from-har.js
Due: npm run lint:js

Ensure to generate attachments from components
  source/services/wix/extractors/media-manager/index.js
  source/services/wix/extractors/static-pages/index.js
  source/utils/idfactory.js
Due: npm run lint:js

Handle encapsuled components
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Embed images in HTML
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Add more attachments from the blog
  source/services/wix/extractors/communities-blog-app/block-mapping.js
  source/services/wix/extractors/communities-blog-app/index.js
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Fix tests
  source/services/wix/extractors/communities-blog-app/block-mapping.js
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Update dependencies.
  package-lock.json
  package.json
Due: none

Update the out of date dependencies. (#41)
  package-lock.json
  package.json
Due: none

Switch to storing block mapping test results in snapshots.
  source/services/wix/extractors/communities-blog-app/test/__snapshots__/block-mapping.js.snap
  source/services/wix/extractors/communities-blog-app/test/block-mapping.js
Due: npm run lint:js

Add fullWidth support for videos.
  source/services/wix/extractors/communities-blog-app/block-mapping.js
  source/services/wix/extractors/communities-blog-app/test/__snapshots__/block-mapping.js.snap
  source/services/wix/extractors/communities-blog-app/test/block-mapping.js
Due: npm run lint:js

Add fullWidth support for images and galleries.
  source/services/wix/extractors/communities-blog-app/block-mapping.js
  source/services/wix/extractors/communities-blog-app/test/__snapshots__/block-mapping.js.snap
  source/services/wix/extractors/communities-blog-app/test/block-mapping.js
Due: npm run lint:js

Wix: Add support for full-width blocks in the community blog app. (#42)
  source/services/wix/extractors/communities-blog-app/block-mapping.js
  source/services/wix/extractors/communities-blog-app/test/__snapshots__/block-mapping.js.snap
  source/services/wix/extractors/communities-blog-app/test/block-mapping.js
Due: npm run lint:js

Try to avoid duplicates
  source/services/wix/extractors/media-manager/index.js
Due: npm run lint:js

Add wp-env support, for spinning up a WordPress install.
  .wp-env.json
  package-lock.json
  package.json
Due: none

Default to using the IndexedDB IDs for creating the WXR.
  packages/wxr/src/1.2/index.js
  packages/wxr/src/index.js
Due: npm run lint:js

Avoid empty author names
  source/services/wix/extractors/communities-blog-app/index.js
Due: npm run lint:js

Properly recurse into container components
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Lint fixes
  source/services/wix/extractors/communities-blog-app/index.js
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Partially update static-pages to use the IndexedDB IDs.
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Handle cover blocks
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Attempt column handling
  source/services/wix/extractors/static-pages/index.js
Due: npm run lint:js

Update README.md
  README.md
Due: npm run lint:md-js, npm run lint:md-docs

Dependency upgrades.
  package-lock.json
  package.json
Due: none

Linting error.
  .markdownlint.json
  README.md
Due: npm run lint:md-js, npm run lint:md-docs

Dependency upgrades. (#43)
  .markdownlint.json
  README.md
  package-lock.json
  package.json
Due: npm run lint:md-js, npm run lint:md-docs

Fix image alignment in markdown files.
  .markdownlint.json
  README.md
  packages/wxr/README.md
Due: npm run lint:md-js, npm run lint:md-docs

Path conditions:
  npm run lint:pkg-json: any of: package.json,packages/*/package.json
  npm run lint:css: any of: *.scss,*.css
  npm run lint:js: any of: *.js
  npm run lint:md-js: any of: *.md
  npm run lint:md-docs: any of: *.md
