Repository pento/free-as-in-speech: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:pkg-json, npm run lint:css, npm run lint:js, npm run lint:md-js, npm run lint:md-docs

.lintstagedrc.json:

{
	"package.json,packages/*/package.json": [
		"npm run lint:pkg-json"
	],
	"*.scss,*.css": [
		"npm run lint:css"
	],
	"*.js": [
		"npm run lint:js"
	],
	"*.md": [
		"npm run lint:md-js",
		"npm run lint:md-docs"
	]
}

Always use window.fetch
  packages/gutenberg-for-node/package.json
  packages/gutenberg-for-node/src/index.js
  packages/site-parsers/src/parsers/wix/components/html.js
  packages/site-parsers/src/parsers/wix/components/image-vector.js
Due: npm run lint:js

Remove file include
  packages/site-parsers/package.json
Due: none

Prevent double registering of blocks
  packages/site-parsers/src/utils/register-blocks.js
Due: npm run lint:js

Fix unit tests by ensuring they use the same node modules
  jest.config.js
  package-lock.json
  package.json
  test/integration/wix/__snapshots__/fetch-from-wix-har.test.js.snap
  test/integration/wix/fetch-from-wix-har.test.js
Due: npm run lint:js

Fix module sequence
  packages/gutenberg-for-node/package.json
Due: none

Update prettier dependency
  package-lock.json
  package.json
  packages/gutenberg-for-node/package-lock.json
  packages/site-parsers/.eslintrc.js
  packages/site-parsers/package-lock.json
Due: npm run lint:js

Update block output because of updated dependencies
  source/services/wix/extractors/communities-blog-app/test/__snapshots__/block-mapping.js.snap
  test/setup-env.js
Due: npm run lint:js

Add Logger (#72)
  docs/contributors/getting-started.md
  package-lock.json
  package.json
  packages/site-parsers/package.json
  packages/site-parsers/src/parsers/wix/components/anchor.js
  packages/site-parsers/src/parsers/wix/components/audio.js
  packages/site-parsers/src/parsers/wix/components/button-stylable.js
  packages/site-parsers/src/parsers/wix/components/button.js
  packages/site-parsers/src/parsers/wix/components/document-media.js
  packages/site-parsers/src/parsers/wix/components/google-map.js
  packages/site-parsers/src/parsers/wix/components/html.js
  packages/site-parsers/src/parsers/wix/components/image-list.js
  packages/site-parsers/src/parsers/wix/components/image-vector.js
  packages/site-parsers/src/parsers/wix/components/image.js
  packages/site-parsers/src/parsers/wix/components/link-bar.js
  packages/site-parsers/src/parsers/wix/components/menu.js
  packages/site-parsers/src/parsers/wix/components/separator.js
  packages/site-parsers/src/parsers/wix/components/sound-cloud.js
  packages/site-parsers/src/parsers/wix/components/spotify.js
  packages/site-parsers/src/parsers/wix/components/tpa-widget.js
  packages/site-parsers/src/parsers/wix/components/twitter-follow.js
  packages/site-parsers/src/parsers/wix/components/video.js
  packages/site-parsers/src/parsers/wix/containers/column.js
  packages/site-parsers/src/parsers/wix/containers/columns.js
  packages/site-parsers/src/parsers/wix/containers/cover.js
  packages/site-parsers/src/parsers/wix/containers/form.js
  packages/site-parsers/src/parsers/wix/containers/mobile.js
  packages/site-parsers/src/parsers/wix/index.js
  packages/site-parsers/src/parsers/wix/mappers.js
  packages/site-parsers/src/parsers/wix/pages.js
  packages/site-parsers/src/utils/index.js
  packages/site-parsers/src/utils/logger.js
Due: npm run lint:js, npm run lint:md-js, npm run lint:md-docs

Fix fatals accessing undefined
  packages/site-parsers/src/parsers/wix/data.js
  packages/site-parsers/src/parsers/wix/menu.js
  packages/site-parsers/src/parsers/wix/pages.js
Due: npm run lint:js

Fix resolving null or undefined input values
  packages/site-parsers/src/parsers/wix/data.js
Due: npm run lint:js

Fix resolving null or undefined input values (#78)
  packages/site-parsers/src/parsers/wix/data.js
Due: npm run lint:js
